# ansible-playbook -i inventory/hosts.yml playbooks/provision_vm_interactive.yml -u root --extra-vars @vars/local.yml

- hosts:
    - "{{ hypervisor_host }}"

  vars_files:
    - ../vars/local.yml
  vars_prompt:
    - name: hypervisor_host
      default: ronny-3
      private: false
    - name: provision_kvm_guest_hostname
      default: "vm-{{ lookup('community.general.random_string', upper=false, numbers=false, special=false, length=8) }}"
      private: false
    - name: provision_kvm_guest_mac_address
      default: "{{ '52:58:00' | community.general.random_mac(seed=provision_kvm_guest_hostname) }}"
      private: false
    - name: provision_kvm_guest_image_folder
      default: /mnt/cheapo/images
      private: false
    - name: provision_kvm_guest_machine_folder
      default: /mnt/cheapo/machines
      private: false
    - name: provision_kvm_guest_image_size
      default: "40G"
      private: false
    - name: provision_kvm_guest_base_image
      default: debian-13-generic-arm64-daily.qcow2
      private: false
    - name: provision_kvm_guest_smp
      default: "2"
      private: false
    - name: provision_kvm_guest_memory
      default: "2048"
      private: false
    - name: provision_kvm_guest_network_bridge
      default: "default"
      private: false

  tasks:
    - name: "Provision VM: { provision_kvm_guest_hostname }"
      import_role:
        name: lanefu.armlab.provision_kvm_guest
      tags:
        - provision
